section.left-col
  article.content-post
    
    h1 FAQ’S 

    h3 How Sturdy is Marble? Will it Need Continual Restoration? 
    p Marble is one of the most dependable stones commercially available. For many centuries, marble has been used to line walls, floors, and counters in homes, business offices, and government buildings. It is dense, tough, and hard to damage. However, with all things, over time wear and tear on the marble will appear. It is a porous stone so that means liquids and gels that are spilled on it will be absorbed by it. Also, marble can be chipped by being handled too roughly or by striking it; so marble restoration will be an expense down the line if maintaining it is a priority. However, if the proper precautions are taken, that price can be mitigated.

    h3 Will Placing a Rug or Mat Over My Marble Floor Harm It?
    p Using a rug or mat to protect the floor, stop dirt and liquids, and to beautify the room is a good idea. However, some rugs are backed by plastics, latex, and rubber that can stretch the surface of the floor over time. It is recommended not to use rugs such as these. It is suggested that rug holders be placed under the mat or rug to prevent the carpet from slipping and to protect the marble floor under it. Take this precaution and your marble will be protected and restoration will not be as much of a concern for this area of marble.

    h3 When Will I Know Marble Restoration is Absolutely Necessary? 
    p Because marble is porous and can be chipped, the signs of needed marble restoration become evident to the naked eye quickly. Marble naturally has cracks and crevices on the surface due to the different minerals mixed together to create the marble. When liquids are spilled on the marble that stain it, marble restoration may be needed to remove the stain. When the marble is chipped, dented, or damage, marble repair becomes a requirement.

    h3 How Do I Get Rid of These Water Marks on My Marble?
    p Though they may appear to be water marks, those blemishes are actually the result of acidic material coming in contact with your marble. These are etch marks that require polishing to be properly removed. A severe etch mark requires marble restoration from professionals because it can not be removed by any household materials or by standard means. Light etch marks can be removed by amateurs using forceful polishing with commercially available marble polishing products.

    h3 Can I Restore My Own Marble?
    p There are many cleaning agents available on the market that are billed as marble restoration products. Some of these items are very effective while others give less than satisfactory results. While it is commendable and more cost effective to try to repair or restore one’s own marble, some marble restoration jobs are time consuming or so extensive that no amateur would be able to properly restore it. This is why it is recommended that professionals with expertise in the field and industrial equipment are the ones hired to restore marble that has been badly damaged or stained. We respect the effort of trying to restore your marble yourself, but let us handle the tough work for you.
