</section>
// section.page end

footer.footer

  section.footer-inner
    
    section.footer-sitemap.section
    
      article.sitemap-section
        h3.sitemap-heading General
        ul
          li
            a Our Company
          li
            a Testimonials
          li
            a Photo Gallery
        
      article.sitemap-section
        h3.sitemap-heading Services
        ul
          li
            a Marble Polishing
          li
            a Terrazzo Polishing

      article.sitemap-section
        h3.sitemap-heading Service Area
        ul
          li
            a Privacy Policy
          li
            a Sitemap
            
    section.footer-social.section
      h3.list-heading Stay Connected
      ul.social-list
        li
          a
            i.icon.social.icon-yt
        li
          a
            i.icon.social.icon-gplus
        li
          a
            i.icon.social.icon-fb
            
      h3.list-heading License & Insured
      p.social-content Lic: #11-00006382
      
      
    section.footer-contact.section
    
      h3.list-heading Contact Information
      article.footer-address
        p Main Office:
        p 4701 SW 45th St
        p Davie, FL 33314
      
      article.footer-phone
        p (877) 547-4463
        p
          a(href="mailto:info@drshine.net") info@drshine.net
        p
          a(href="http://www.drshine.net") www.drshine.net
      

</section>
</body>
</html>
