section.left-col
  article.content-post
    div.ba-slider.preview
      div.slider.responsive
        img(src="images/before-after/01-before.JPG")
      div.resize
        img(src="images/before-after/01-after.JPG")
      span.handle
      
    div.ba-slider.preview
      div.slider.responsive
        img(src="images/before-after/01-before.JPG")
      div.resize
        img(src="images/before-after/01-after.JPG")
      span.handle
      
    div.ba-slider.preview
      div.slider.responsive
        img(src="images/before-after/01-before.JPG")
      div.resize
        img(src="images/before-after/01-after.JPG")
      span.handle
      
    
