section.left-col
  article.content-post
    div.slider
      div.slider.responsive
        div.left.image
          //- a(href="images/before-after/01-before.JPG")
          img(src="images/before-after/01-before.JPG" width="50%")
        div.right.image
          //- a(href="images/before-after/01-after.JPG")
          img(src="images/before-after/01-after.JPG" width="50%")
