doctype html
<html>
head
  script(src="assets/components/jquery/jquery.min.js")
  script(src="assets/components/owl.carousel/owl.carousel.min.js")
  script(src="assets/components/lightgallery/js/lightgallery.js")
  script(src="assets/components/lightgallery/js/lg-thumbnail.js")
  script(src="assets/components/img-slider/imgslider.min.js")
  
  script(src="assets/js/scripts.js")
  
  link(rel="stylesheet" type="text/css" href="assets/components/owl.carousel/css/owl.carousel.min.css")
  link(rel="stylesheet" type="text/css" href="assets/components/owl.carousel/css/owl.theme.default.min.css")
  link(rel="stylesheet" type="text/css" href="assets/components/animate.css/animate.min.css")
  link(rel="stylesheet" type="text/css" href="assets/components/lightgallery/css/lightgallery.min.css")
  link(rel="stylesheet" type="text/css" href="assets/components/img-slider/imgslider.min.css")
  link(rel="stylesheet" type="text/css" href="assets/css/style.css")
<body>

// top nav
nav.nav.animated.slideInDown

  div.nav-outer-center
    div.nav-inner-center
    
      a.nav-logo
        img(src="images/logo.png")
        
      ul.nav-list
        li
          a(href="index.html") Home
        li
          a(href="about-us.html") About Us
        li
          a(href="faq.html") FAQ
        li
          a(href="marble.html") Marble Polishing
        li
          a(href="terrazzo.html") Terrazzo Polishing
        li
          a(href="gallery.html") Gallery
        li
          a(href="contact.html") Contact Us
        
      ul.nav-social
        li
          img.social-fb
        li
          img.social-yt
        li
          img.social-gp

// page header
header.header.animated.fadeInDown

  section.carousel.owl-carousel.owl-theme
    div.item(style="background-image: url('images/slide-1.jpg')")
      div.item-inner
        div.carousel-content
          h1.animated.slideInLeft Welcome to Dr. Shine
          h2.animated.fadeInRight Lorem ipsum dolor sit amet.
          h2.animated.fadeInRight Lorem ipsum dolor sit amet.
      //img(src="images/slide-1.jpg")
    div.item(style="background-image: url('images/slide-2.jpg')")
      div.item-inner
      //img(src="images/slide-2.jpg")
    div.item(style="background-image: url('images/slide-3.jpg')")
      div.item-inner
      //img(src="images/slide-3.jpg")
    div.item(style="background-image: url('images/slide-4.jpg')")
      div.item-inner
      //img(src="images/slide-4.jpg")
    div.item(style="background-image: url('images/slide-5.jpg')")
      div.item-inner
      //img(src="images/slide-5.jpg")
    div.item(style="background-image: url('images/slide-6.jpg')")
      div.item-inner
      //img(src="images/slide-6.jpg")
      
<section class="main animated fadeInUp">
