section.left-col
  article.content-post
  
    img.post-img.float-right(src="images/photo-home.jpg")
  
    h1 Welcome to Dr.Shine

    p As a family owned and operated business, Dr.Shine focuses on providing the highest quality finishes across a wide range of Marble services. Our team are experts in complete marble restoration, from polishing, grinding and crystallizing. We work on all kind of marble tops and floors including  Travertine, Terrazzo and concrete.

  article.content-post
    h1 Why Choose Us?
    
    p Dr.Shine has been operating for 12 years so you can be assured as a customer, that should you choose us to assist you with your next project, you will be supported by a team of highly trained, licensed, insured and experienced individuals. Don’t just take our word for it, look at our completed projects, or listen to what our customers say about us in testimonials.

    img.post-img.float-left(src="images/photo-home2.png")

    p Whether you are contemplating a polished concrete floor, re-polishing an existing stone floor or require an epoxy flooring solution, Dr.Shine can provide you with a finish that you can be proud of.

    p Contact us today by phone or you can request a quote online. We would love to work with you on your next project.
