section.left-col
  article.content-post
  
    img.post-img.float-right(src="images/photo-1-1.jpg")
    
    h1 Marble Polishing 
    p The <b>“Dr. Shine Marble Polishing Process”</b> is the culmination of years of experience in installation and maintenance combined with advanced chemistry and modern techniques.

    p Using specialized chemical compounds and unique equipment especially developed for this application, our process densifies your marble, thus decreasing water penetration by 90%. The treatment prevents any infiltration of grit or dirt and makes the floor easier to wash.

    h3 Advantages of doing it the Dr. Shine way:
    ul.plain-list
      li Protects against the permeation of a wide variety of oils, chemicals, and salts.
      li Makes surfaces easy to polish with mechanical action of steel wool pads.
      li Never needs to be stripped off floors because there is no buildup.
      li Brings out the intrinsic beauty of marble and preserves its appearance longer.

    h3 Dr. Shine’s Polishing Process
    ul.plain-list
      li
        b STEP ONE: Grinding Process.
        p We determine the amount of grinding by a number of factors, such as traffic wear, levelness of surface, depth of scratches, and age and color of the marble.

      li
        b STEP TWO: Chemical Hardening.
        p The freshly ground surface is chemically hardened, transforming calcium carbonate into a fluoride derivative. This phase significantly increases durability and protects from staining, resulting in a notable reduction of maintenance costs.

      li
        b STEP THREE: Brilliant Finish.
        p Often deeper than the original applied at the quarry, a glass-like finish is restored to the marble. The “Mirror Image Polish” lasts several months longer than any polymer of synthetic coating and will never require stripping.
