aside.sidebar

  section.sidebar-inner
  
    div.btn
      a.icon-bg
        i.icon.icon-appointment
        != "Schedule Service"
    div.btn 
      a.icon-bg
        i.icon.icon-gallery
        != "View Our Project Gallery"
    div.btn
      a.icon-bg
        i.icon.icon-testimonials
        != "Testimonials"
    div.btn 
      a.icon-bg
        i.icon.icon-discount
        != "15% Off New Orders"
      
    section.sidebar-info
      
      h1.list-heading We Specialize In:
      ul
        li Cleaning
        li Polishing
        li Diamond Refinishing
        li Honing
        li Re-grouting
        li Hole/ Chip Repair
        li Stain Removal
        li Buffing
          
      h1.list-heading Surfaces
      ul
        li Marble
        li Travertine
        li Limestone
        li Natural Stone
        li Mexican Tile
        li Granite
        li Ceramic Tile/ Porcelain
        li Brick Floors
        li Slate/ Quartz
