section.left-col
  article.content-post

    h1 Terrazzo Polishing & Restoration 
    p Dr.Shine also offers a total restoration service for terrazzo bathroom floors and balconies. Total restoration of terrazzo floors brings old worn terrazzo back to life with our Dr.Shine grinding and polishing process. 

    img.full-width(src="images/terrazzo_polishing01.jpg") 

    p We can repair cracks and other damage during the restoration process. We can have your old terrazzo floors shining like marble floors and in most cases your terrazzo will look better than it did when it was fist installed all those years ago. 

    img.full-width(src="images/terrazzo_polishing02.jpg")
